div.ccplaque {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-left: 82px;
  margin-right: auto;
  margin-bottom: 2rem;
  border-top: 1px solid #eee;
}

span.ccplaque {
    font-size: 12px;
    display: block;
}

label.language-toggle {
  position: absolute;
  top:  1rem;
  right: 1rem;
  display: block;
  padding: .5rem .65rem;
  color: #805050;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

span.language-toggle {
    font-size: 12px;
    display: block;
}

a.language-toggle {
    color: #805050;
}