.tocpanel{
  position: fixed;
  right: -280px;
  top: 30%;
  width: 300px;
}

.toctopics
{
  display: inline-block;
  list-style-type: none;
  text-align: left;
  min-width: 280px;

  -webkit-transition: -webkit-transform 0.3s linear;
  -webkit-transform: translateX(0%);

  -moz-transition: -moz-transform 0.3s linear;
  -moz-transform: translateX(0%);
  background-color: rgba(240, 240, 240, 0.75);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.toctopics:hover
{
  -webkit-transform: translateX(-290px);
}

.toctopics:hover > li:after
{
  color: rgba(3,2,1,0);
}

.toctopics li
{
  font-size: 16px;
}
