<div class="ccplaque">
    <span class="ccplaque">
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" 
style="border-width:0;padding-right:40px" src="https://i.creativecommons.org/l/by/4.0/88x31.png" align="left"/></a>
<span style="-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); 
-khtml-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); display: 
inline-block;">©</span>
    {{ site.time | date: '%Y' }}.{{ site.t[page.lang].copylefttxt }}<br/>
    {{ site.t[page.lang].licensetext }} <a rel="license" 
href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </span>
</div>