<!-- Quite a retarded way to increment a var, but working -->
<!-- TODO: verify that it works  -->
<!-- TODO: add proper support for portrait photos, it's bad XDDD -->
<!-- TODO: play with sizes -->
{% capture figureCounter %}{{ figureCounter | plus:1 }}{% endcapture %}
<figure>
  {% assign images = include.url | split:"," %}
  {% assign j = 1 %}
  {% for img in images %}
    {% assign remainder = forloop.index + 1 | modulo: 2 %}
    <a href="/res/{{ page.slug }}/{{ img }}" target="__blank">
      <img {% if remainder == 1 and j != images.size %}align="left"{% endif %}
      height = "25%"
      src="/res/{{ page.slug }}/th_{% if images.size == 1 %}600{% else %}300{% endif %}_{{ img }}"
      srcset="{% for i in (1..8) %}{% assign sz = i | times:100 %}/res/{{ page.slug }}/th_{{ sz }}_{{ img }} {{ sz }}h, {% endfor %}"
      alt="{{ include.caption }}" class="figure">
    </a>
    {% capture j %}{{ j | plus:1 }}{% endcapture %}
  {% endfor %}
  <caption>{{ site.t[page.lang].figurelabel }}{{ figureCounter }}. – {{ include.caption }}</caption>
</figure>
