<div class="posts">
 <!--TODO: add a "where" filter-->
<!--  { % for post in ( paginator.posts | where:"lang", lang ) % }-->

  <!--Adapted from KleinFreund.github.io -->
    {% assign posts = site.posts | where: "lang", page.lang %}

    <ul class="post-list">
    {% for post in posts %}
        <li class="post-list">
            <a class="post-list__link" href="{{ post.url }}">
            {% include date.html %}
            <span class="post-title">{{ post.title }}</span>
           </a>
           <!-- <small>{{ post.abstract }}</small> -->
        </li>
    {% endfor %}
    </ul>

  </ul>
</div>
